# 19_DA_Pandas

### Import Library

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\vigne\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vigne\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vigne\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vigne\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vigne\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\vigne\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas
pandas.__version__

'2.2.2'

### Loading Data-Series

In [6]:
import pandas as pd
a = [7,9,4]
dataset = pd.Series(a)
print(dataset)

0    7
1    9
2    4
dtype: int64

In [8]:
import pandas as pd
a = [7,9,4]
dataset = pd.Series(a, index = ["No.1","No.2","No.3"])
print(dataset)

No.1    7
No.2    9
No.3    4
dtype: int64

### Loading Data-DataFrame

In [10]:
import pandas as pd
data = {"Name":["Champ","Mr.X","Mr.y"],
        "Color":["Red","Black","White"]}
dataset = pd.DataFrame(data)
print(dataset)

    Name  Color
0  Champ    Red
1   Mr.X  Black
2   Mr.y  White

### Loading Dataset from File

In [12]:
import pandas as pd
dataset1 = pd.read_csv("dataset.csv")
print(dataset1.head())

   Level  Salary
0      1   45000
1      2   50000
2      3   60000
3      4   80000
4      5  110000

In [18]:
import pandas as pd
dataset2 = pd.read_excel("./csv files/dataset.xlsx")
print(dataset2.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [20]:
import pandas as pd
dataset3 = pd.read_csv("./csv files/dataset.txt")
print(dataset3.head(5))

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4  4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...

### Dataset Details

In [22]:
#No.of Rows and Columns
print(dataset1.shape) 

#Detailed info about Dataset
print(dataset1.describe())

(10, 2)
          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

### Data Slicing

In [ ]:
#To get only Column Title
print(dataset1.columns)

#To get data based on the specific Title
print(dataset1["Name"]) 

#To get data based on the multiple Title
print(dataset1[["Name","Speed"]]) 

#To get data based on the specific Title with Specific Count
print(dataset1["Name"][0:6])

In [ ]:
#integer location-acquire complete info about certain index
print(dataset1.iloc[0]) 

#acquire complete info about range of index
print(dataset1.iloc[1:5]) 

#acquire specific cell data
print(dataset1.iloc[1,2])

In [ ]:
for index,row in dataset1.iterrows():
  print(index,row["Name"])

### Data Slicing with Filter

In [ ]:
print(dataset1.loc[dataset1["Speed"]>90])

### Slicing - Sorting Data

In [ ]:
dataset1.sort_values(["Speed"],ascending=False)

### Editing Data

In [ ]:
dataset1["Power"] = dataset1["HP"] + dataset1["Attack"]
print(dataset1.head(5))

In [ ]:
dataset1 = dataset1.drop(columns=["Power"]) #removing Column
print(dataset1.head(5))

### Save Dataset in new file

In [ ]:
dataset1.to_csv("newDataset.csv")
dataset1.to_excel("newDataset.xlsx")
dataset1.to_csv("newDataset.csv",index=False, sep="\t")

### Checking Null values in Dataset

In [ ]:
dataset1.isna().any()

### Acquiring Dataset without NaN Value, by removing the entire column

In [ ]:
dataset1 = dataset1[dataset1["Type 2"].notna()]

### Filling NaN with mean of that specific Column

In [ ]:
MeandatasetNotNan = dataset1["Speed"].fillna(dataset1["Speed"].mean())
MeandatasetNotNan

### Mapping certain Data to another value

In [ ]:
print(dataset1.head(5))
Generation = set(dataset1['Generation'])
dataset1['Generation'] = dataset1['Generation'].map({1: "one", 2: "two",3: "three", 4: "four",5: "five", 6: "six"}).astype(str)
print(dataset1.head(5))